{% extends 'ctapp/layout.html' %}
{% load bootstrap5 %}
{% block title %}Add Client{% endblock %}
{% block content %} 

{% bootstrap_form_errors form %}

<!-- New ClientForm -->
<div class="mt-4"></div>

<form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">{% bootstrap_field field %}</div>     
    {% endfor %}
    {% bootstrap_button "Save" button_type="submit" button_class="btn-dark" %}
</form>

{% endblock %}