{% extends 'ctapp/layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row my-5">
    <div class="col">
        <h2>Clients <span class="float-end"><a href="{% url 'add_client' %}" style="text-decoration: none;" class="btn-sm btn-dark">Add New Client</a></span></h2>
        
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.first_name }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.email }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="3" class="text-center">No client found</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row my-5">
    <div class="col">
        <h2>Transactions <span class="float-end"><a href="{% url 'add_transaction' %}" style="text-decoration: none;" class="btn-sm btn-dark">Add New Transaction</a></span></h2>
        
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.to }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="3" class="text-center">No transaction found</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}